<div class="display-pad"> <!-- Top of page -->
    <div class="ui breadcrumb">
        <a class="section">Home</a>
        <div class="divider"> / </div>
        <a class="section">Footwear</a>
        <div class="divider"> / </div>
        <div class="active section">Shoes & Footwear </div>
    </div>
</div>

<div class="ui stackable five column grid">
    <div class="column three wide fluid"> <!-- left nav component -->
        <app-nav-left></app-nav-left>
    </div>
        
        <div class="column thirteen wide fluid"> <!-- start of the right block of the page -->
            
            <div class="ui text menu">
                <h3 class="inner-pad">Shoes & Footwear <span class="text-color">- 51588 items</span></h3>
                <div class="sort-decor ui right dropdown item ">
                    sort by:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="chevron down icon"></i>
                    <div class="menu">
                      <div class="item">Brand</div>
                      <div class="item">Color</div>
                      <div class="item">Price</div>
                    </div>
                  </div>
            </div>
            <div class="inner-pad inline-grey">
                <p> Bundles</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                <p> Offers</p>
            </div>
            <div class=""><hr><br></div>
            <div class="ui grid seven wide column"> <!-- start of cards -->
                <div></div>
                <div class="ui card"> <!-- item 1-->
                    <div class="image">
                    <img src="assets/images/Men/Puma_Men-Echelon-V2-Running-Shoes.png" alt="Puma">
                    </div>
                    <div class="content centered">
                        <a class="header">Puma</a>
                        <div class="meta">Men's Echelon V2</div>
                        <div class="description">
                        <b>$ 74.99 &nbsp;</b>
                        <span class="inline-smaller"> reg. $ 99.99 &nbsp;</span></div>
                        <div class="description">
                        <span class="inline-smaller inline-orange">(25% OFF)</span></div>
                    </div>
                </div>
                <div></div>
                <div class="ui card"> <!-- item 2-->
                    <div class="image">
                        <img src="assets/images/Men/Nike_Men-Court-Borough-Low-Sneakers.png" alt="Nike">
                    </div>
                    <div class="content centered">
                        <a class="header">Nike</a>
                        <div class="meta">Men's Court Low Sneakers</div>
                        <div class="description">
                        <b>$ 59.99 &nbsp;</b>
                        <span class="inline-smaller"> reg. $ 79.99 &nbsp;</span></div>
                        <div class="description">
                        <span class="inline-smaller inline-orange">(25% OFF)</span></div>
                    </div>
                </div>
                <div></div>
                <div class="ui card"> <!-- item 3-->
                    <div class="image">
                        <img src="assets/images/Men/ADIDAS_Men-Navy-Blue Running-Shoes.png" alt="Adidas">
                    </div>
                    <div class="content centered">
                        <a class="header">Adidas</a>
                        <div class="meta">Men's Running Shoe</div>
                        <div class="description">
                        <b>$ 49.99 &nbsp;</b>
                        <span class="inline-smaller"> &nbsp;</span></div>
                        <div class="description">
                        <span class="inline-smaller inline-orange"></span></div>
                    </div>
                </div>
                <div></div>
                <div class="ui card"> <!-- item 4-->
                    <div class="image">
                        <img src="assets/images/Men/WROGN_Men-Black-Sneakers.png" alt="WROGN">
                    </div>
                    <div class="content centered">
                        <a class="header">WROGN</a>
                        <div class="meta">Men's Sneakers</div>
                        <div class="description">
                        <b>$ 89.99 &nbsp;</b>
                        <span class="inline-smaller"> &nbsp;</span></div>
                        <div class="description">
                        <span class="inline-smaller inline-orange">Special Purchase</span></div>
                    </div>
                </div>
                <div></div>
            </div>  <!-- end of cards -->
        </div>  <!-- endt of the right block of the page -->
</div>



