.nav-format {
    margin-left: 2em;
}
hr {
    max-width: 100%;
    margin-left: 0;
}

.ui.list a {
    color: black;
    font-weight: bolder;
}

.show-more {
    color: cornflowerblue;
    margin-left: 2em;
    margin-top: 1em;
    margin-bottom: 2em;
}

.chek-space {
    margin-bottom: .5em;
}