<div class="nav-format">

    <div class="ui list">
        <a class="item link" routerLink="men">Men</a>
        <a class="item link" routerLink="women">Women</a>
        <a class="item link" routerLink="kids">Boys</a>
        <a class="item link" routerLink="kids">Girls</a>
    </div>
    <br>
    <hr>
    <h3 class="">CATEGORIES</h3>
    <div class="ui checkbox ">
        <input type="checkbox" name="Casual Shoes">
        <label class="chek-space">Casual Shoes <span class="inline-smaller inline-grey "> (22326)</span></label>
        <input type="checkbox" name="example">
        <label class="chek-space">Heels <span class="inline-smaller inline-grey "> (9632)</span></label>
        <input type="checkbox" name="example">
        <label class="chek-space">Flats <span class="inline-smaller inline-grey "> (7509)</span></label>
        <input type="checkbox" name="example">
        <label class="chek-space">Sport Shoes <span class="inline-smaller inline-grey "> (7248)</span></label>
        <input type="checkbox" name="example">
        <label class="chek-space">Formal Shoes <span class="inline-smaller inline-grey "> (4723)</span></label>
        <input type="checkbox" name="example">
        <label class="chek-space">Sandals <span class="inline-smaller inline-grey "> (71)</span></label>
        <input type="checkbox" name="example">
        <label class="chek-space">Flip Flops <span class="inline-smaller inline-grey "> (56)</span></label>
        <input type="checkbox" name="example">
        <label>Sport Sandals <span class="inline-smaller inline-grey "> (21)</span></label>
      </div>
      <p class="show-more">+ 1 more</p>
    <hr>
    <h3 class="">PRICE</h3>
    <div class="ui checkbox ">
        <input type="checkbox" name="Casual Shoes">
        <label class="chek-space">High <span class="inline-smaller inline-grey "> (5603)</span></label>
        <input type="checkbox" name="example">
        <label class="chek-space">Mid-Range <span class="inline-smaller inline-grey "> (12632)</span></label>
        <input type="checkbox" name="example">
        <label class="chek-space">Economical <span class="inline-smaller inline-grey "> (7509)</span></label>
        <input type="checkbox" name="example">
        <label class="chek-space">Promotions<span class="inline-smaller inline-grey "> (1256)</span></label>
    </div>
</div>
