<div class="display-pad"> <!-- Top of page -->
    <div class="ui breadcrumb">
        <a class="section">Home</a>
        <div class="divider"> / </div>
        <a class="section">Kid's</a>
        <div class="divider"> / </div>
        <a class="section">Footwear</a>
        <div class="divider"> / </div>
        <div class="active section">Shoes & Footwear</div>
    </div>
</div>
<div class="ui stackable five column grid">
    <div class="column three wide fluid"> <!-- left nav component -->
        <app-nav-left></app-nav-left>
    </div>
        <div class="column thirteen wide fluid"> <!-- start of the right block of the page -->
            <br><br>
            <div class="ui text menu">
                <h3 class="inner-pad">Shoes & Footwear <span class="text-color">- 151 588 items</span></h3>
                <div class="sort-decor ui right dropdown item ">
                    sort by:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="chevron down icon"></i>
                    <div class="menu">
                      <div class="item">Brand</div>
                      <div class="item">Color</div>
                      <div class="item">Price</div>
                    </div>
                  </div>
            </div>
            <div class="inner-pad inline-grey">
                <p> Bundles</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                <p> Offers</p>
            </div>
            <div class=""><hr><br></div>
            <div class="ui grid seven wide column"> <!-- start of cards -->
                <div></div>
                <div class="ui card"> <!-- item 1-->
                    <div class="image">
                    <img src="assets/images/Kids/Nike_Kids-Star-Running-Shoes.png" alt="Nike">
                    </div>
                    <div class="content centered">
                        <a class="header">Nike</a>
                        <div class="meta">Kids Star Running Shoes</div>
                        <div class="description">
                        <b>$ 74.99 &nbsp;</b>
                        <span class="inline-smaller"> reg. $ 99.99 &nbsp;</span></div>
                        <div class="description">
                        <span class="inline-smaller inline-orange">(25% OFF)</span></div>
                    </div>
                </div>
                <div></div>
                <div class="ui card"> <!-- item 2-->
                    <div class="image">
                        <img src="assets/images/Kids/DC_Boys-Solid-Sneakers.png" alt="DC_Boys">
                    </div>
                    <div class="content centered">
                        <a class="header">DC</a>
                        <div class="meta">Boy's Solid Sneakers</div>
                        <div class="description">
                        <b>$ 24.99 &nbsp;</b>
                        <span class="inline-smaller"> reg. $ 49.99 &nbsp;</span></div>
                        <div class="description">
                        <span class="inline-smaller inline-orange">(50% OFF)</span></div>
                    </div>
                </div>
                <div></div>
                <div class="ui card"> <!-- item 3-->
                    <div class="image">
                        <img src="assets/images/Kids/Girls_Nike-Solid-Sneaker.png" alt="Nike">
                    </div>
                    <div class="content centered">
                        <a class="header">Nike</a>
                        <div class="meta">Girl's Sneakers</div>
                        <div class="description">
                        <b>$ 39.99 &nbsp;</b>
                        <span class="inline-smaller"> &nbsp;</span></div>
                        <div class="description">
                        <span class="inline-smaller inline-orange"></span></div>
                    </div>
                </div>
                <div></div>
                <div class="ui card"> <!-- item 4-->
                    <div class="image">
                        <img src="assets/images/Kids/Puma_Boys evoKNIT FTB II IT Shoes.png" alt="Puma">
                    </div>
                    <div class="content centered">
                        <a class="header">Puma</a>
                        <div class="meta">evoKNIT FTB II IT Shoes</div>
                        <div class="description">
                        <b>$ 69.99 &nbsp;</b>
                        <span class="inline-smaller"> &nbsp;</span></div>
                        <div class="description">
                        <span class="inline-smaller inline-orange">Special Purchase</span></div>
                    </div>
                </div>
                <div></div>
            </div>  <!-- end of cards -->
        </div>  <!-- end of the right block of the page -->
</div>




