<br><br>
<div class="ui grid column"> <!-- whole menu div-->
    <div></div>
    <div> <!-- logo and name-->
        <img class="logo-space" src="assets/images/logo.png" alt="">
    </div>
    <div>   
        <h1 class="logo-name">Myntra</h1>
    </div>
    <div class="ui secondary menu font-bold"> <!-- menu with search-->
        <a class="item" href="app/men/men-component.html">
          Men
        </a>
        <a class="item" href="app/women/women-component.html">
          Women
        </a>
        <a class="item" href="app/kids/kids-component.html">
          Kids
        </a>
        <a class="item" href="app/home/home-component.html">
          Home & Living
        </a>
        <div class="right menu">
          <div class="item">
            <div class="ui icon input search-decor">
              <input class="" type="text" placeholder="Search">
              <i class="search-decor search link icon"></i>
            </div>
          </div>
          <div class="btn-divide">
            <a class="ui item icon-decor">
                <i class="user icon icon-decor"></i>
              </a>
            </div>
            <div class="btn-divide"> 
              <a class="ui item icon-decor">
                <i class="shopping bag icon icon-decor"></i>
              </a>
          </div>

        </div>
      </div>
</div>
<br>
<hr>
<br>

