/* You can add global styles to this file, and also import other style files */
/* My own classes to modify content from */
    .inline-orange {
        color: coral;
    }

    .inline-grey {
    color: grey;
    }

    .text-color {
        color: 
        gray;
    }

    .inline-smaller {
        font-size: .85em;
    }

    .display-pad {
        display: inline-flex;
        margin: 2em;
    } 

    .inner-pad {
        display: inline-flex;
        margin-left: 1em;
    } 

    .centered {
        align-self: center;
    }


    
