<div class="display-pad"> <!-- Top of page -->
    <div class="ui breadcrumb">
        <a class="section">Home</a>
        <div class="divider"> / </div>
        <a class="section">Home & Living</a>
        <div class="divider"> / </div>
        <a class="section">Bathroom</a>
        <div class="divider"> / </div>
        <div class="active section">Accessories</div>
    </div>
</div>
<div class="ui stackable five column grid">
    <div class="column three wide fluid"> <!-- left nav component -->
        <app-nav-left></app-nav-left>
    </div>
        <div class="column thirteen wide fluid"> <!-- start of the right block of the page -->
            <br><br>
            <div class="ui text menu">
                <h3 class="inner-pad">Bathroom Accessories <span class="text-color">- 288 items</span></h3>
                <div class="sort-decor ui right dropdown item ">
                    sort by:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="chevron down icon"></i>
                    <div class="menu">
                      <div class="item">Brand</div>
                      <div class="item">Color</div>
                      <div class="item">Price</div>
                    </div>
                  </div>
            </div>
            <div class="inner-pad inline-grey">
                <p> Bundles</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                <p> Offers</p>
            </div>
            <div class=""><hr><br></div>
            <div class="ui grid seven wide column"> <!-- start of cards -->
                <div></div>
                <div class="ui card"> <!-- item 1-->
                    <div class="image">
                    <img src="assets/images/Home/Holder-2.png" alt="Paper_1">
                    </div>
                    <div class="content centered">
                        <a class="header">Toilet Paper Side Holder</a>
                        <div class="meta">Keep 2 extra rolls at hand</div>
                        <div class="description">
                        <b>$ 49.99 &nbsp;</b>
                        <span class="inline-smaller"> reg. $ 99.99 &nbsp;</span></div>
                        <div class="description">
                        <span class="inline-smaller inline-orange">(50% OFF)</span></div>
                    </div>
                </div>
                <div></div>
                <div class="ui card"> <!-- item 2-->
                    <div class="image">
                        <img src="assets/images/Home/Holder.png" alt="Paper_2">
                    </div>
                    <div class="content centered">
                        <a class="header">Toilet Paper Tray Holder</a>
                        <div class="meta">Holdes 1 roll and accessories</div>
                        <div class="description">
                        <b>$ 59.99 &nbsp;</b>
                        <span class="inline-smaller">  &nbsp;</span></div>
                        <div class="description">
                        <span class="inline-smaller inline-orange">Hot Item</span></div>
                    </div>
                </div>
                <div></div>
                <div class="ui card"> <!-- item 3-->
                    <div class="image">
                        <img src="assets/images/Home/Product-Holder.png" alt="Junk_1">
                    </div>
                    <div class="content centered">
                        <a class="header">Product Holder</a>
                        <div class="meta">Organize your bathroom products</div>
                        <div class="description">
                        <b>$ 29.99 &nbsp;</b>
                        <span class="inline-smaller"> &nbsp;</span></div>
                        <div class="description">
                        <span class="inline-smaller inline-orange"></span></div>
                    </div>
                </div>
                <div></div>
                <div class="ui card"> <!-- item 4-->
                    <div class="image">
                        <img src="assets/images/Home/Toothbrush-Holder.png" alt="Toothbrush">
                    </div>
                    <div class="content centered">
                        <a class="header">Toothbrush Holder</a>
                        <div class="meta">Hold 4 brushes and a glass</div>
                        <div class="description">
                        <b>$ 39.99 &nbsp;</b>
                        <span class="inline-smaller"> &nbsp;</span></div>
                        <div class="description">
                        <span class="inline-smaller inline-orange">Special Purchase</span></div>
                    </div>
                </div>
                <div></div>
            </div>  <!-- end of cards -->
        </div>  <!-- end of the right block of the page -->
</div>



