<div class="display-pad"> <!-- Top of page -->
    <div class="ui breadcrumb">
        <a class="section">Home</a>
        <div class="divider"> / </div>
        <a class="section">Women</a>
        <div class="divider"> / </div>
        <a class="section">Footwear</a>
        <div class="divider"> / </div>
        <div class="active section">Shoes & Footwear</div>
    </div>
</div>
<div class="ui stackable column grid">
    <div class="column four wide fluid"> <!-- left nav component -->
        <app-nav-left></app-nav-left>
    </div>
        <div class="column twelve wide fluid"> <!-- start of the right block of the page -->
            <br><br>
            <div class="ui text menu">
                <h3 class="inner-pad">Shoes & Footwear <span class="text-color">- 151 588 items</span></h3>
                <div class="sort-decor ui right dropdown item ">
                    sort by:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="chevron down icon"></i>
                    <div class="menu">
                      <div class="item">Brand</div>
                      <div class="item">Color</div>
                      <div class="item">Price</div>
                    </div>
                  </div>
            </div>
            <div class="inner-pad inline-grey">
                <p> Bundles</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                <p> Offers</p>
            </div>
            <div class=""><hr><br></div>
            <div class="ui grid seven wide column"> <!-- start of cards -->

                <div class="ui card"> <!-- item 1-->
                    <div class="image">
                    <img src="assets/images/Women/DressBerry_Women-Solid-Pumps.png" alt="DressBerry">
                    </div>
                    <div class="content centered">
                        <a class="header">DressBerry</a>
                        <div class="meta">Solid Pumps</div>
                        <div class="description">
                        <b>$ 74.99 &nbsp;</b>
                        <span class="inline-smaller"> reg. $ 99.99 &nbsp;</span></div>
                        <div class="description">
                        <span class="inline-smaller inline-orange">(25% OFF)</span></div>
                    </div>
                </div>

                <div class="ui card"> <!-- item 2-->
                    <div class="image">
                        <img src="assets/images/Women/Puma_Women-Sports-Shoes.png" alt="Puma">
                    </div>
                    <div class="content centered">
                        <a class="header">Puma</a>
                        <div class="meta">Women's Sport Shoes</div>
                        <div class="description">
                        <b>$ 59.99 &nbsp;</b>
                        <span class="inline-smaller"> reg. $ 79.99 &nbsp;</span></div>
                        <div class="description">
                        <span class="inline-smaller inline-orange">(25% OFF)</span></div>
                    </div>
                </div>

                <div class="ui card"> <!-- item 3-->
                    <div class="image">
                        <img src="assets/images/Women/Catwalk_Women-Embellished-Sandals.png" alt="Catwalk">
                    </div>
                    <div class="content centered">
                        <a class="header">Catwalk</a>
                        <div class="meta">Ladies Sandals</div>
                        <div class="description">
                        <b>$ 69.99 &nbsp;</b>
                        <span class="inline-smaller"> &nbsp;</span></div>
                        <div class="description">
                        <span class="inline-smaller inline-orange"></span></div>
                    </div>
                </div>

                <div class="ui card"> <!-- item 4-->
                    <div class="image">
                        <img src="assets/images/Women/Kook-N-Keech_Women-Sneakers.png" alt="Kook-N-Keech">
                    </div>
                    <div class="content centered">
                        <a class="header">Kook-N-Keech</a>
                        <div class="meta">Women's Sneakers</div>
                        <div class="description">
                        <b>$ 69.99 &nbsp;</b>
                        <span class="inline-smaller"> &nbsp;</span></div>
                        <div class="description">
                        <span class="inline-smaller inline-orange">Special Purchase</span></div>
                    </div>
                </div>

            </div>  <!-- end of cards -->
        </div>  <!-- end of the right block of the page -->
</div>



